$primary-color: black;
$secondary-color: white;

$button-bg-primary: black;
$button-bg-secondary: white;
$button-text-primary: white;
$button-text-secondary: black;
$button-border-primary: black;

$bg-gray: rgba(128, 128, 128, 0.16);

$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;
