$primary-color: black;
$secondary-color: white;

$button-bg-primary: black;
$button-bg-secondary: white;
$button-text-primary: white;
$button-text-secondary: black;
$button-border-primary: black;

$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;
